<style type="text/css">
@media only screen and (max-width: 480px) {
    .media {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 481px) {
    .media {
        padding-right: 15%;
        padding-left: 15%;
    }
}
</style>
<div class="container" style="overflow-y: scroll;height: 400px;
margin-top: 5%;">
    <div class="media">
        <div class="media-left">
            <%= image_tag User.third.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.first.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
             <%= image_tag User.second.profile_image.url, class: "ava-show"  %>
        </div>
        <div class="media-body" style="padding: 1%;">
            <h5 class="mt-0" style="font-weight: bold;color: #686880;">Nick Name</h5>
            <p style="color: #030000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
        </div>
    </div>
</div>
