
<div class="container">
  <h1> Create a new user</h1>
  <%= simple_form_for @user, url: admin_users_path do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.simple_fields_for :avatar do |img| %>
    <p>
    <%= img.file_field :avatar %>
    </p>
  <% end %>
  <%= f.button :submit, class: "btn btn-primary btn-md" %>
<% end %>
</div>


