<div class="container">
  <div>
    <%= link_to "Back to index", admin_users_path, class:"btn btn-info", method: :get %>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="avatar">
        <%= image_tag(@user.avatar.avatar_file.url(:preview), class: 'img-fluid') if @user.avatar.present? %>
      </div>
    </div>

    <div class="col-md-9">
      <h2>Profile Info</h2>

      <table class="table table-hover" style="background-color: #f8f9fa;margin-top:1rem">
        <tbody>
          <tr>
            <td>First Name</td>
            <td><%= @user.first_name %></td>
          </tr>

          <tr>
            <td>Last Name</td>
            <td><%= @user.last_name %></td>
          </tr>

          <tr>
            <td>Username</td>
            <td><%= @user.username %></td>
          </tr>

          <tr>
            <td>Email</td>
            <td><%= @user.email %></td>
          </tr>

          <tr>
            <td>Day registered</td>
            <td><%= @user.created_at %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
